{:paths ["src" "resources"]
 :deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        com.cognitect/anomalies {:mvn/version "0.1.12"}
        aero/aero {:mvn/version "1.1.6"}
        integrant/integrant {:mvn/version "1.0.1"}
        cheshire/cheshire {:mvn/version "6.1.0"}
        clj-log4j2/clj-log4j2 {:mvn/version "0.4.0"}
        hato/hato {:mvn/version "1.0.0"}
        io.qdrant/client {:mvn/version "1.17.0"}
        jarohen/chime {:mvn/version "0.3.3"}
        metosin/muuntaja {:mvn/version "0.6.11"}
        metosin/reitit-malli {:mvn/version "0.9.1"}
        metosin/reitit-middleware {:mvn/version "0.9.1"}
        metosin/reitit-ring {:mvn/version "0.9.1"}
        nrepl/nrepl {:mvn/version "1.5.2"}
        org.clojure/clojure {:mvn/version "1.12.4"}
        org.mnode.ical4j/ical4j {:mvn/version "4.2.3"}
        ring/ring-jetty-adapter {:mvn/version "1.14.2"}
        datascript/datascript {:mvn/version "1.7.8"}
        selmer/selmer {:mvn/version "1.12.62"}
        org.xerial/sqlite-jdbc {:mvn/version "3.47.1.0"}
        io.github.tonsky/datascript-storage-sql {:mvn/version "2.0.0"}}
 :aliases {:test {:extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1"
                                :git/sha "dfb30dd"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "cognitect.test-runner"]}}}
